.dropdown a img{
    width: 50px;
    height: 50px;
}

#prof-drop{
    position: absolute;
    right: 5px;
    top: 3px;
}

#search-border{
    border: none;
}

#navbarSupportedContent{
    width:240px;
}
/* filter */
.filter-list {
    /* padding:6px 10px;  */
    background-color: white;
    border: 1px solid #808080;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
}

.filter-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    color: #888;
}
.filters-section{
    margin-top:2%;
}
/* navbar */
.apply{
    border: 2px solid orange; 
    border-radius: 20px;
    color: orange;
    background-color: white;
}
.apply_view{
  border: 2px solid orange; 
  border-radius: 20px;
  color: orange;
  background-color: white;
  margin-top: -8%;
}

.imgTitle{
    border-radius: 10px;
    background-color: white;
    bottom: -3%;
    left: 40%;
}

.img1{
    width: 25px;
    height: 25px;
}

.duration::before
{
    content: '';
    width: 200%;
    background-color: rgba(128, 128, 128, 0.334);
    position: absolute;
    z-index: -1;
    left: -100px;
}
.star-rating {
    line-height:32px;
    font-size:1.25em;
  }
  
.star-rating .fa-star{color: yellow;}

.list-view .row > 
    [class*='col-'] {
      max-width: 100%;
      flex: 0 0 100%
    }
  
  .card {
    @media (max-width: 575.98px) {
     flex-direction: column;
    
    flex-direction: row ;
     .card-img-top {
     width: auto;
    }
    
    .card-body {
      display: inline-block;
    }
  }
}

.card {
    margin-bottom: 1rem;
  }
  
  .list-view .row > [class*=col-] {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .list-view .card {
    flex-direction: row;
  }

  .imgpos{
    width: 100%;
    height: 100%;
}
.apply-back{
    background-color: white;
}
.onlygrid{
    display: flex;
    justify-content: space-between;
}
.pill{
    border: #888 1px solid;
    border-radius: 24px;
}
.only_grid_butn_skill_seat_duration{
  display: flex;
  flex-direction: column;
}
.only_list_butn_skill_seat_duration{
  display: flex;
  justify-content: space-between;
}
.col2_between{
  display: flex;
  flex-direction: row;
}
.whole{
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1285px) {
  .img1{
    width: 12px;
    height: 12px;
  }
  .txt_for_img{

    font-size: 14px !important;
  }
  .viewdetail{
    font-size: 13px;
  }

}

@media screen and (max-width: 1199.75px) {
    .starresize{
        width: 22px;
        height: 20px;
        margin-top: 4px;
    }

}

@media screen and (max-width: 1001.70px) {
  .only_list_butn_skill_seat_duration{
    flex-direction: column;
  }
  .apply_view{
    margin: unset;
  }
      .iconresize{
        width: 13px;
    }
    .txtresize{
        font-size: 11px;
    }
}

@media screen and (max-width:991.20px) {
  .img1_margin_remove{
    margin-left: unset !important;
  }
  .col2_between{
    justify-content:space-between !important;
  }
  .skil_margin{
    margin-right:-41% ;
  }
  .deadline_margin{
    margin-right: -95%;
  }
  .skil_margin1{
    margin-right:-89% ;
  }
  
}
  @media (max-width: 767.20px){

    .imgTitle{
        border-radius: 10px;
        background-color: white;
        bottom: -3%;
        left: 40%;
    }
    #filter{
        flex-direction: column !important;
    }  
    .drop{
        position: static !important;
        transform: unset !important;
    }
    .noborder{
        border: none !important;
    }
    .skil_margin{
      margin-right: unset !important;
    }
    .deadline_margin{
      margin-right: -32% !important;
    } 
    .skil_margin1{
      margin-right: unset !important;
    } 

  }

  @media (max-width: 575.98px) {
    .list-view .card {
      flex-direction: column;
    }
    .img1_margin_remove{
      margin-left: 30px !important;
    }
  }

  @media (max-width: 556px) {
    .whole{
      flex-direction: column !important;
    }
    .margin_grid{
      margin-right: 30px !important;
    }
    .img1_margin_remove{
      margin-left: unset !important;
    }
  }

  @media (max-width: 550px) {
 
  }

  .list-view .card > .card-img-top {
    width: auto;
  }
  .list-view .card .card-body {
    display: inline-block;
  }

@media  only screen and (max-width:575px) {
    #hide{
        display: none;
    }
    #drop-pos{
        left: -62px;
    }    
    .dropdown-border{
        border: none;
    }
    #gridList{
        display: none !important;
    }
}